# Required. Get one at https://www.last.fm/api/account/create
LASTFM_API_KEY=

# Required. Contact email associated with your Last.fm API key,
# sent in the User-Agent header per Last.fm API terms of service.
USER_AGENT_CONTACT=

REDIS_URL=redis://localhost:6379/0
